<p style="color: green"><%= notice %></p>

<%= render @blog %>

<div>
  <%= link_to "Edit this blog", edit_blog_path(@blog) if logged_in?(:site_admin) %> |
  <%= link_to "Back to blogs", blogs_path %>

  <%= button_to "Delete this blog", @blog, method: :delete if logged_in?(:site_admin) %>
</div>
