<%= form_for(portfolio_items) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :title, style: "display: block", class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :subtitle, style: "display: block", class: "form-label" %>
        <%= form.text_field :subtitle, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :main_image, class: "form-label" %>
        <%= form.file_field :main_image, class: "form-control", id: "formFile" %>
      </div>

      <div class="mb-3">
        <%= form.label :thumb_image, class: "form-label" %>
        <%= form.file_field :thumb_image, class: "form-control", id: "formFile" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :body, style: "display: block", class: "form-label" %>
        <%= form.text_area :body, class: "form-control", rows: 10 %>
      </div>
    </div>
    <hr>
    <div class="col-md-12">
      <h2>Technologies Used:</h2>
      <div class="mb-3" id="technologies">
        <%= form.fields_for :technologies do |technology_form| %>
          <%= render 'technology_fields', f: technology_form %>
        <% end %>
        <div>
          <%= link_to_add_association 'Add Technology', form, :technologies %>
          <%#= debugger %>
        </div>
      </>

      <div class="mb-3">
        <%= form.submit 'Save Portfolio Item', class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
<% end %>
