<div class="col" data-id="<%= portfolio_item.id %>" >
    <div class="card shadow-sm">
        <%# binding.pry %>
        <%= image_tag url_for(portfolio_item.thumb_image.variant(resize_to_fill: [350, 200])), class: "bd-placeholder-img card-img-top" %>

        <%#= if logged_in?(:site_admin)
        button_to "Delete Portfolio", portfolio_item, method: :delete, class: "blog-delete-btn"
      end %>
        <div class="card-body">
            <p class="card-text">
                <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></span> <%= portfolio_item.subtitle %>
            </p>
            <p class="card-body">
            <%= portfolio_item.body %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Source</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Live</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
            </div>
        </div>
    </div>
</div>
