<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |portfolio_items| %>
    <%= portfolio_items.title %>
    <%= portfolio_items.subtitle %>
    <%= portfolio_items.body %>
    <%= image_tag portfolio_items.thumb_image unless portfolio_items.thumb_image.nil? %>
    <%= link_to "Edit", edit_portfolio_path(portfolio_items.id) %>
<% end %>
