<div class="row">
  <div class="col-md-7">
    <%= image_tag url_for(@portfolio_items.thumb_image.variant(resize_to_fill: [350, 200])), class: "bd-placeholder-img card-img-top" %>

  </div>
  <div class="col-md-5">
    <h1><%= @portfolio_items.title %></h1>

    <hr>

    <em><%= @portfolio_items.subtitle %></em>

    <p><%= @portfolio_items.body %></p>

    <hr>

    <h3>Technologies</h3>

    <% @portfolio_items.technologies.each do |t| %>
    <p><%= t.name %></p>
    <% end %>
    <% if logged_in?(:site_admin) %>
      <div class"col-md-12">
        <%= link_to "Edit Item", edit_portfolio_path(@portfolio_items), class: 'btn btn-warning' %>
      </div>

      <% end %>

</div>

