<div class="row">
  <div class="col-md-7">
    <%= image_tag url_for(@portfolio_items.thumb_image.variant(resize_to_fill: [350, 200])), class: "bd-placeholder-img card-img-top" %>

  </div>
  <div class="col-md-5">
    <h1><%= @portfolio_items.title %></h1>

    <hr>

    <em><%= @portfolio_items.subtitle %></em>

    <p><%= @portfolio_items.body %></p>

    <hr>

    <h3>Technologies</h3>

    <% @portfolio_items.technologies.each do |t| %>
    <p><%= t.name %></p>
    <% end %>
</div>

