<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= video_tag(
        'HardDrivePhotojpeg.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        poster: 'home_bg.png'
      ) %>

      <%= render "partials/application_nav" %>
      <%= source_helper %>

      <%= yield %>
      <%= render "partials/footer" %>

      <%= alerts %>

    </div>
  </body>
</html>
