<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "partials/navbar" %>
    <% if current_user.is_a?(User) %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <%= yield %>
    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
