<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1, shrink-to-fit=no"
    >
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blog", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "partials/blog_nav" %>
    <%= render "partials/blog_masthead" %>

    <div class="container">

      <!-- Start of nav --> <!-- End of nav -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <%= render 'partials/blog_sidebar' %>
      <%= source_helper %>

    </div>
    <%= render "partials/blog_footer" %>
  </body>
</html>
