<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blog", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">

        <!-- Start of nav -->
        <header class="blog-header lh-1 py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 pt-1">
              <h3 class="link-secondary "><%= link_to "CAKE.", root_path, class: "text-decoration-none" %></h3>
            </div>
            <div class="col-9 d-flex justify-content-end align-items-center">
                <%= link_to "Home", root_path, class: "p-2 link-secondary text-decoration-none" %>
                <%= link_to "About", about_me_path, class: "p-2 link-secondary text-decoration-none" %>
                <%= link_to "Contact", contact_path, class: "p-2 link-secondary text-decoration-none" %>
                <%= link_to "Blog", blogs_path, class: "p-2 link-secondary text-decoration-none" %>
                <%= link_to "Portfolio", portfolios_path, class: "p-2 link-secondary text-decoration-none" %>
                <%= login_helper "p-2 link-secondary text-decoration-none navb-button"%>
            </div>
          </div>
        </header>
        <!-- End of nav -->


        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%#= render "partials/navbar", location: 'bottom' %>
        <%= source_helper %>

    </div>
        <footer class="blog-footer">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
  </body>
</html>
