<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= @seo_keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'partials/portfolio_nav' %>
    <main class="container">
    <%= render "partials/portfolio_masthead" %>
      <%#= render "partials/navbar", location: "top" %>
    <%= source_helper %>
      <%= yield %>
      </main>
      <%= render "partials/portfolio_footer" %>
  </body>
</html>
